# Build outputs
.next/
out/
build/
.turbo/

# Dependencies  
node_modules/
.pnp
.pnp.js

# Environment files
.env*.local

# Testing
coverage/

# Cache
.cache/

# Logs
*.log

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# IDE
.vscode/
.idea/

# Misc
*.pem
.DS_Store